<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>花费清单</title>
	<script type="text/javascript" th:src="@{/static/js/jquery-3.6.0.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/users/expenseList.js}"></script>
	<link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
	<style type="text/css">
		div{
		 border: 1px solid grey;  	}
		div.center{
			text-align:center;
		}
	</style>
</head>
<body>
	<div class="modal fade" id="AccountBookAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">添加新账本</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form-horizontal">
			  <div class="form-group">
			    <label class="col-sm-2 control-label">账本名字</label>
			    <div class="col-sm-10">
			      <input type="text" name="accountbookName" class="form-control">
				  <input type="hidden" name="userId" id="hiddenUserId">
			    </div>
			  </div>
			  
			  
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary" id="accountBook_save_btn">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="container">
		<div class="row" >
			<div class="col-md-12 center" >
				<h1>Expense List</h1>
			</div>
		</div>
		
		<!-- 按钮 -->
		<div class="row">
			<div class="col-md-2">
				<a class="btn btn-default" th:href="@{/accountBookList}" role="button">Back</a>
			</div>
			<div class="col-md-2">
				<a class="btn btn-default" th:href="@{/accountList}" role="button">Account</a>
			</div>
			
			<div class="col-md-2 col-md-offset-4">
				<button class="btn btn-primary center" id="summaryBtn">总结费用</button>
			</div>
			<div class="col-md-2 ">
				<button class="btn btn-primary center" id="deleteAccountBookBtn">删除账本</button>
			</div>
		</div>
		
		<!-- 新建支出 -->
		<div class="row" style="height: 5px"></div>
		<div class="row" style="border: 1px solid grey;">
			<form class="form-inline">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<h4>新建支出</h4>
						</div>
					
		 				<div class="form-group col-md-3">
						    <label for="AmountInNewExpense">金额:&nbsp;</label>
					      	<input type="text" name="expenseAmount" id="AmountInNewExpense" class="form-control">
					  	</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="row">
						<div class="form-group col-md-2">
						    <label for="AccountInNewExpense">账户:&nbsp;</label>
						    <select id="AccountInNewExpense" class="form-control"
						    		 name="accountId">
						    		 <option>请选择</option>
				    		 </select>
					  	</div>
					  	<div class="form-group col-md-3">
						    <label for="TypeOneInNewExpense">类型:&nbsp;</label>
						    <select id="TypeOneInNewExpense" class="form-control">
						    		 <option hidden>一级类型</option>
				    		 </select>
				    		 <select id="TypeTwoInNewExpense" class="form-control"
						    		 name="typeId" style="display: none;">
						    		 <option hidden>二级类型</option>
				    		 </select>
				    		 <input type="hidden" name="accountbookId" id="hiddenAccountbookId">
					  	</div>
					  	<div class="form-group col-md-3">
						    <label for="CommentInNewExpense">备注:&nbsp;</label>
					      	<input type="text" name="expenseComment" id="CommentInNewExpense" class="form-control">
					  	</div>
					  	<div class="form-group col-md-3">
						    <label for="DateInNewExpense">日期:&nbsp;</label>
					      	<input type="Date" name="expenseDate" id="DateInNewExpense" class="form-control">
					  	</div>
					  	<div class="col-md-1">
						    <button type="button" class="btn btn-primary" id="expense_save_btn">保存</button>
					  	</div>
				    </div>
				</div>
			</form>
		</div>
		
		<div class="row" style="height: 5px"></div>
		<!-- 显示表格数据 -->
		<div class="row" id="accountBooks">
			<div class="col-md-12">
				<table class="table table-hover" id="expense_table">
					<thead>
						<tr>
							<th>
								<input type="checkbox" id="check_all"/>
							</th>
							<th>Date</th>
							<th>Type</th>
							<th>Account</th>
							<th>Amount</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
		
		
	
	</div>
	<script type="text/javascript">
		$(loadExpense());
	</script>
</body>
</html>